* {
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    overflow: hidden;
}
.main {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: flex;
}
/* Sidebar styling */

.sidebar {
    height: 100vh;
    width: 400px;
    background-color: #000;
}
.navbar {
    background-color: #121212;
    height: 110px;
    margin: 8px;
    border-radius: 10px;
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-options {
    line-height: 50px;
    padding: 5px 5px;
    opacity: 0.7;
}
.nav-options:hover {
    opacity: 1;
}
.nav-options a {
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
}
.nav-options i {
    font-size: 22px;
    padding-top: 10px;
    
}
.library {
    
    background-color: #121212;
    margin: 8px 8px 0 8px;
    border-radius: 10px 10px 0 0;
}
img {
    height: 20px;
    opacity: 0.7;
    cursor: pointer;
}
.lib-option {
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    /* opacity: 0.7; */
}

.lib-option .lib_logo {
    padding: 4px 8px;
}
.lib-option .lib_logo a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;
    opacity: 0.7;
}
.lib-option .lib_logo a:hover {
    opacity: 1;
}
.lib-option .lib_logo img:hover {
    opacity: 1;
}
.lib-signs i {
    font-size: 20px;
    padding: 8px;
    opacity: 0.7;
    cursor: pointer;
}
.lib-signs i:hover {
    opacity: 1;
    background-color: #292828;
    border-radius: 50%;
}
.artist {
    height: 40px;
    
}

.artist button {
    color: black;
    background: none;
    border: none;
    padding: 8px 12px;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    background-color: #3e3c3c;
    border-radius: 20px;
    margin-left: 13px;
    cursor: pointer;
}
.artist button:hover {
    background-color: #565050;
}
.recent {
    display: flex;
    justify-content: space-between;
}
.recent-logo {
    display: flex;
    padding: 4px 12px 4px 16px;
}
.recent-logo p{
    margin-right: 3px;
    margin-top: 7px;
    font-size: 17px;
    opacity: 0.7;
    font-weight: 600;
    cursor: pointer;
    font-weight: 200;
}
.recent .recent-search i{
    padding: 8px;
    margin-left: 11px;
    opacity: 0.7;
    cursor: pointer;
    font-size: 18px;
}
.recent .recent-search i:hover {
    background-color: #292828;
    border-radius: 50%;
    opacity: 1;
    font-size: 19px;
}
.recent-logo p:hover {
    font-size: 18px;
    opacity: 1;
}
.recent-logo i{
    padding: 8px 0 0 8px;
    margin-left: 11px;
    opacity: 0.7;
    cursor: pointer;
}
.recent-logo i {
    margin-right: 10px;
    margin-left: 0;
    font-size: 18px;
}
.recent-logo i:hover {
    font-size: 19px;
    opacity: 1;
}

.artist-list{
    height: 400px;
    padding: 0 8px 0 8px;
    overflow: auto;
}
.artist-search {
    background-color: #121212;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 2px 4px 0 8px;
}
.art-search i{
    font-size: 18px;
    padding: 10px 8px 8px 8px;
    opacity: 0.7;
    cursor: pointer;

}
.art-search i:hover{
    opacity: 1;
    background-color: #222121;
    border-radius: 50%;
}
.art-recent {
    display: flex;
    gap: 7px;
    padding: 10px 12px 4px 12px;
    opacity: 0.7;
    cursor: pointer;
}
.art-recent:hover {
    opacity: 1;
}
.art-recent i {
    font-size: 18px;
}
.artist-names {
    background-color: #121212;
    height: 83%;
    padding: 8px;
    cursor: pointer;
    overflow-y: scroll;
    border-radius: 0 0 10px 10px;
}

.artist-names img {
    height: 50px;
    border-radius: 50px;
    padding: 5px 5px 0 5px;
}
.neha-kakkar {
    height: 60px;
    transition: 0.3s ease;
    margin-bottom: 10px;
    transition: transform 0.5s;
}
.neha-kakkar:hover {
    background-color: #222121;
    border-radius: 10px;
    transform: scale(1.03);
}
.neha-kakkar h4{
    font-size: 16px;
    margin-top: -50px;
    margin-left: 70px;
    font-weight: 200;
}
.neha-kakkar p{
    margin-left: 70px;
    margin-top: 3px;
    opacity: 0.7;
    font-size: 16px;
}

/* Main content styling */

.main-content {
    background-color: #121212;
    flex: 1;
    height: 87.5%;
    border-radius: 10px;
    margin: 8px 8px 8px 0;
    overflow-y: scroll;
}
.top-bar {
    height: 60px;
    display: flex;
    align-items: center;
    
}
.icons {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 16px;
}
.top-bar .icons img{
    background-color: #000;
    border-radius: 50%;
    padding: 6px 6px;
    margin-right: 8px;
    height: 23px;
}
.profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.profile .explore-btn button{
    font-size: 14px;
    padding: 6px 16px;
    color: #000;
    border: 0;
    border-radius: 20px;
    font-weight: 600;
    margin-right: 10px;
    cursor: pointer;
}
.profile .install-btn button{
    color: #000;
    font-size: 14px;
    padding: 4px 12px;
    background-color: white;
    border: 0;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
}
.profile .install-btn i{
    color: #000;
    font-size: 14px;
    padding-top: 3px;
    padding-right: 3px;
}
.profile .bell-btn i{
    font-size: 20px;
    background-color: #000;
    padding: 6px 6px;
    border-radius: 50%;
    margin: 5px 10px 0 10px;
    cursor: pointer;
}
.main-album {
    padding: 0 16px;
    display: flex;
    flex-wrap: wrap;
}
h2{
    margin-top: 45px;
    margin-left: 25px;
    margin-bottom: 8px;
    cursor: pointer;
}
h2:hover{
    text-decoration: underline;
}
.card1 {
    height: 277px;
    width: 204px;
    padding: 12px 12px;
    transition: 0.1s ease-in;
    cursor: pointer;
    margin-bottom: 20px;
}
.card1:hover {
    background-color: #b2afaf31;
    border-radius: 10px;
}
.card1 img{
    height: 205px;
    border-radius: 7px;
}
.card1 h4{
    font-weight: 400;
    padding: 5px 0;
}
.card1 p{
    font-size: 13px;
    font-weight: 400;
    opacity: 0.7;
}
.card1 h4:hover{
    text-decoration: underline;
}
.popular-radio {
    display: flex;
    flex-wrap: wrap;
}
.all-btns {
    width: 100%;
    display: flex;
}
.all-btns .all-btn button{
    font-size: 16px;
    padding: 4px 12px;
    border: 0;
    border-radius: 15px;
    color: #000;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.2s ease-in;

}
.all-btns .all-btn button:hover{
    background-color: #3e3c3c;
    color: #fff;
}
.all-btns .music-btn button{
    font-size: 16px;
    padding: 6px 12px;
    border: 0;
    border-radius: 15px;
    color: #fff;
    margin: 0 5px;
    background-color: #000;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease-in;

}
.all-btns .music-btn button:hover{
    background-color: #3e3c3c;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar-thumb{
    background: #121212;
    height: 50px;
}
.singers-profile {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px;
}
.singers-profile .card2{
    height: 250px;
    padding: 10px 10px;
    transition: 0.2s ease-in;
}
.singers-profile .card2:hover{
    background-color: #222121;
    border-radius: 10px;
}
.card2 h3:hover{
    text-decoration: underline;
}
.singers-profile .card2 img{
    height: 180px;
    border-radius: 70%;
}
.singers-profile .card2 h3{
    font-weight: 500;
    margin: 5px;
    cursor: pointer;
}
.singers-profile .card2 p{
    opacity: 0.7;
    margin: 5px;
    cursor: pointer;
}
.best-artists{
    display: flex;
    flex-wrap: wrap;
}
.popular-albums{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    padding: 8px 32px 40px;
    justify-content: space-evenly;
}
.footer p{
    margin: 0 0 8px;
    opacity: 0.7;
    font-weight: 400;
    cursor: pointer;
}
.footer p:hover{
    opacity: 1;
    text-decoration: underline;
}
.footer h4{
    margin: 0 0 8px;
    cursor: pointer;
}
.social-links i{
    font-size: 25px;
    margin: 0 8px 0 0;
    background-color: #292828;
    border-radius: 50%;
    padding: 6px 6px;
    cursor: pointer;
}
.social-links i:hover{
    background-color: #565050;
}
hr{
    margin: 0 25px 0 25px;
}
.copyright {
    width: 900px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
.copyright-main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.copyright p{
    opacity: 0.7;
}
.copyright .copyright-main p:hover{
    opacity: 1;
    text-decoration: none;
}
.footer .copyright{
    padding: 0 0 0 100px;
}
.copyright-main p{
    margin: 0 6px 0 0;
    padding: 0 0 0 10px;
    font: 18px;
    font-weight: 400;
    cursor: pointer;
}
.copyright-main p:hover{
    text-decoration: underline;
}
.footer-copyright:hover{
    cursor: pointer;
}
/* Music Player Styling */

.music-player {
    background-color: #000;
    position: fixed;
    bottom: 0;
    height: 72px;
    width: 100%;
}
.music-player .music-player-main{
    display: flex;
}
.music-player-main .now-playing{
    display: flex;
    height: 60px;
    width: 25%;
}
.now-playing img{
    height: 50px;
    margin: 0 10px;
}
.now-playing h3{
    font-size: 15px;
    font-weight: 600;
    margin-top: 5px;
}
.now-playing p{
    font-size: 13px;
    font-weight: 300;
    margin-top: 4px;
}
.now-playing i{
    font-size: 18px;
    margin: 10px 10px;
    padding: 8px;
}
.music-player-main .music-control{
    height: 55px;
    width: 50%;
}
.music-player-main .music-control .music-cntrl-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-cntrl-btn .reply-opt img{
    margin-right: 20px;
    height: 14px;
    margin-top: 8px;
}
.music-cntrl-btn .reply-opt img:hover{
    opacity: 1;
}
.music-cntrl-btn .back-opt img{
    height: 14px;
    margin-right: 20px;
    margin-top: 8px;
    opacity: 0.7;
}
.music-cntrl-btn .back-opt img:hover{
    opacity: 1;
}
.music-cntrl-btn .resume-opt img{
    height: 32px;
    margin-right: 20px;
    opacity: 0.7;
}
.music-cntrl-btn .next-opt img{
    height: 14px;
    margin-top: 8px;
}
.music-cntrl-btn .next-opt img:hover{
    opacity: 1;
}
.music-cntrl-btn .repeat-opt img{
    height: 16px;
    margin-top: 10px;
    margin-left: 20px;
}
.music-cntrl-btn .repeat-opt img:hover{
    opacity: 1;
}
.music-control .playback-control{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.playback-control .progress-bar{
    background-color: transparent;
    width: 60%;
    appearance: none;
    margin: 0 6px;
    padding: 8px;
    cursor: pointer;
}
.playback-control .progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    height: 4px;
    border-radius: 4px;
}

.progress-bar::-webkit-slider-thumb{
    height: 14px;
    width: 14px;
    margin-top: -5px;
    background-color: #1bd760;
    appearance: none;
    border-radius: 50%;
}
.music-options .playing-opt img{
    background-color: black;
    color: white;
    height: 20px;
}
.music-options{
    display: flex;
    align-items: center;
    width: 25%;
}
.music-options .input-opt input{
    background-color: transparent;
    appearance: none;
    width: 80px;
    border-radius: 10px;
    padding: 8px 8px;
}
.music-options .input-opt input::-webkit-slider-runnable-track{
    background-color: #292828;
    height: 5px;
    appearance: none;

}
.music-options .input-opt input::-webkit-slider-thumb{
    appearance: none;
    background-color: #1bd760;
    color: #1bd760;
    height: 5px;
    width: 5px;
    border-radius: 50%;  
}
.music-options .music-same-opt img{
    height: 16px;
    width: 16px;
    padding: 8px 8px;
}